html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #163515;
}
section, footer {
  padding: 20px;
}
#input {
  background: #3B8A36;
}
.input {
  display: block;
}
#inputs label {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: right;
}
input {
  padding: 10px;
  background: #bce4b9;
  border: 0px;
  margin: 15px;
}
input[type='text'] {
  width: 50%;
  min-width: 300px;
  display: inline-block;
  transition: all 500ms ease-in-out;
}
input[type='text']:focus {
  background: #fff;
}
input[type='submit'] {
  background: #163515;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  display: block;
  transition: all 500ms ease-in-out;
}
input[type='submit']:hover {
  background: #0c1c0b;
  cursor: pointer;
}
#output {
  padding: 0px;
}
#backup,
#dbChange,
#redirect {
  max-height: 1000px;
  transition: all 1s ease-in-out;
}
#output.hidden #backup,
#output.hidden #dbChange,
#output.hidden #redirect {
  max-height: 0;
  padding: 0;
}
#output.hidden #backup *,
#output.hidden #dbChange *,
#output.hidden #redirect * {
  display: none;
}
#backup {
  background: #bce4b9;
}
#dbChange {
  background: #a4daa1;
}
#redirect {
  background: #8dd188;
}
#backupCodeBlocks div,
#dbChangeCodeBlocks div,
#redirectCodeBlocks div {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 10px;
  background: #333;
  color: #ccc;
}
#backupCodeBlocks div.copied,
#dbChangeCodeBlocks div.copied,
#redirectCodeBlocks div.copied {
  background: #222;
  color: #666;
  transition: all 200ms ease-in-out;
}
#footer {
  background: #163515;
  color: #fff;
}